<div class="mt-5">
    <div class="col-md-6 m-auto">

            <div class="card card-body text-center">
                    <p> Create a account or login</p>
                    <a href="/users/register" class="btn btn-block btn-primary">Register</a>
                    <a href="/users/login" class="btn btn-block btn-secondary">Login</a>
            </div>
       
    </div>
</div>